@model DesafioDev.Models.CidadeViewModel
@{
    Layout = "_Layout";
}
<h1 class="text-center">Cadastro de Cidade</h1>

<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary btn-sm btn-ModalAdicionarCidade">Adicionar</button>
    </div>
</div>

<div id="divTabelaCidade">
    <partial name="_TabelaCidade"  model="Model"/>
</div>

<div id="divform">

</div>
<script src="~/js/Cidade/Index.js"></script>